
<h1 class="text-center">Movies!</h1>

<br>


<ul *ngFor="let m of movies">
  <li>
    <h1>Title: {{ m.title }}</h1>

    <h3>Actors: {{ m.actors }}</h3>

    <h3>Director: {{ m.director }}</h3>

    <h3>Year Released: {{ m.yearReleased }}</h3>
  </li>

  <ul>
    <li>Movie Awards: {{ m.awards }}</li>
  </ul>

  <ul *ngIf="m.rating === 'R'">
    <li [ngStyle]="currentStyle"> {{ showMessage() }}</li>
  </ul>

  <ul *ngIf="m.rating === 'PG'">
    <li [ngStyle]="currentStyle1">{{ showPGMessage() }}</li>
  </ul>

</ul>

























