



<h1 class="text-center">ngModel Component</h1>

<div class="container-fluid">
<!--  form to add more people to the list using two way binding aka ngModel  -->
  <div class="card card-body mt-3">

    <form>
      <div class="form-group">
        <label>Persona</label>
        <input type="text" [(ngModel)]="character.persona" name="persona" class="form-control">
        <label>First Name</label>
        <input type="text" [(ngModel)]="character.firstName" name="firstName" class="form-control">
        <label>Last Name</label>
        <input type="text" [(ngModel)]="character.lastName" name="lastName" class="form-control">
        <label>Age</label>
        <input type="text" [(ngModel)]="character.age" name="age" class="form-control">
      </div>
<!--      button to submit -->
      <button (click)="addCharacter()" class="btn btn-dark">Add Character</button>
    </form>


  </div>
  <ul class="list-unstyled">
    <li class="card card-body mb-3" *ngFor="let h of heroes">
      <div class="row">

        <div class="col-6">
          <h3>{{ h.persona }}</h3>
        </div>
        <div class="col-6">
          <h3>Full Name: {{ h.firstName }} {{ h.lastName }}</h3>
          <p>Age: {{ h.age }}</p>
        </div>
      </div>
    </li>







  </ul>

</div>





















