<h1>string-interpolation works!</h1>

<!--
string-interpolation
- way to bind out data to the template (html)
from the typescript ( logic )

SYNTAX:

{{ expression }}

-->

<!-- example -->

{{"Hello from String Interpolation"}}
{{ (5 * 5) }}

<h3>{{ "Delta Cohort Rocks!" }}</h3>

<p>{{ 5 * 100 }}</p>


<!-- BINDING PROPERTIES WITH OUR TEMPLATE USING STRING INTERPOLATION -->

<h3>Full Name: {{ firstName }} {{ lastName }}</h3>
<p>Age: {{ age }}</p>

<h3>{{ sayHello() }}</h3>























































