
  <h1 class="text-center">Welcome!</h1>
  <h3 class="text-center">This is my Angular Home Page!!</h3>

  <p>Click a button to view a component!</p>


  <button class="btn btn-secondary" routerLink="/comments">Comments Component</button>
  <button class="btn btn-secondary" routerLink="/posts">Posts Component</button>
  <button class="btn btn-secondary" routerLink="/travel">Travel Component</button>
  <button class="btn btn-secondary" routerLink="/movies">Movies Component</button>




























