  <h1> Comments GET Requests</h1>

  <app-comment-form

    (newComment)="onSubmitComment($event)"
    [currentComment]="selectedComment"
    [isEdit]="commentEdit"
    (updatedComment)="onUpdatedComment($event)">

  </app-comment-form>


  <div class="container">

    <div class="row">

      <div class="card card-body col-12" *ngFor="let c of comments">

        <h2 class="card-title"><strong>Name: </strong>{{ c.name }}</h2>
  <!--      <p class="card-text"><strong>ID: </strong>{{ c.id }}</p>-->
        <p class="card-text"><strong>Email: </strong> <i>{{ c.email }}</i></p>
        <p class="card-text"><strong>Content:</strong> {{ c. body }}</p>

        <hr>

<!--        button for editing comment  -->

        <div class="row">

          <div class="col-1">

            <button
            (click)="editComment(c)"
            class="btn btn-info btn-sm"> <i class="fa fa-pencil"></i>
            </button>

<!--            button for removing comment -->

            <button
            (click)="removeComment(c)"
            class="btn btn-danger btn-sm"> <i class="fa fa-remove"></i>
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>


















