  <h1>Comment Form Component</h1>

  <div class="card card-body mb-3">
    <form>

      <div class="form-group">

        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="currentComment.name" name="name" #name>

        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="currentComment.email" name="email" #email>

        <label>Body</label>
        <input type="text" class="form-control" [(ngModel)]="currentComment.body" name="body" #body>


<!--      need this to tell the program that it's not a new post -->
        <input type="hidden" [(ngModel)]="currentComment.id" name="id">

      </div>

<!--      Submit new comment  -->
      <button
        *ngIf="!isEdit"
        (click)="addComment(name.value, email.value, body.value)"
        class="btn btn-success btn-block">Submit Comment</button>


<!--      Update current comment button  -->
      <button
      *ngIf="isEdit"
      (click)="updateComment()"
      class="btn btn-warning btn-block">Update Comment</button>

    </form>

  </div>
