<h1>Athlete Component</h1>

<!--<h3>Name: {{ athletes.name }}</h3>-->


<!-- Structural Directives

 *ngFor, *ngIf, *ngSwitch
 Every one of these directives needs to have the asterisk *
 Basically an attribute inside an element

 -->
<!--  <h3>Athletes' Names:</h3>-->
<!-- Use *ngFor to loop through the array of this.athletes -->

<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{ a.name }}-->

<!--  </li>-->
<!--</ul>-->

<!-- *ngFor Breakdown

 "let" = defines the variable
 "a" = the name of the variable
 "athlete" = pertains to the "this.athlete" array from our ts
 "a.name" = calling the name property of each object

-->

<!-- use *ngFor to loop through the array of this.athletes
  and retrieve the team names of each object
-->
<!--<h3>Athletes' Teams:</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{ a.team }}-->
<!--  </li>-->
<!--</ul>-->

<ul>
  <li *ngFor="let a of athletes">
    <h3>{{ a.name }}</h3>
    <ul>
      <li>Team: {{ a.team }}</li>
      <li>Jersey No: {{ a.jerseyNo }}</li>
    </ul>
    <ul *ngIf="a.stillPlaying === true">
      <li>{{ showStatus() }}</li>
    </ul>
    <ul *ngIf="a.stillPlaying !== true">
      <li>{{ showRetired() }}</li>
    </ul>
  </li>
</ul>
































































































