


<ul *ngIf="loadingMembers">
  <li *ngFor="let m of members">
    <h2> {{ m.firstName }} {{ m.lastName }}</h2>
    <p> {{ m. userName }}</p>
    <p id="memno"> {{ m.memberNo }}</p>
  </li>
</ul>

<p *ngIf="!loadingMembers">Loading VIP Members</p>

<ul *ngIf="members.length > 1">
  <li id="vip"> There are {{ members.length }} members in the VIP!</li>
</ul>

<!-- display if there is only 1 member in the array -->


<ul *ngIf="members.length === 1">
  <li id="vip1"> There is {{ members.length }} member in the VIP!</li>
</ul>










