  <h1>Posts GET Request</h1>
<!--
we need to pass our selectedPost property into the form component as an Input
-->

<!--  Input is signified by square brackets []
      Output is signified by parenthesis ()
-->

  <app-post-form
    [currentPost]="selectedPost"
    [isEditing]="postEdit"
    (updatedPost)="onUpdatedPost($event)"
    (newPost)="onSubmitPost($event)">
  </app-post-form>


  <div class="container">

    <div class="row">

      <!--    using *ngFor to loop through the array of posts -- let p of posts --- post comes from the ts -- posts: PostHttpClient[] = [];-->
      <div class="card card-body col-12" *ngFor="let p of posts">

        <h5 class="card-title">{{ p.title }}</h5>
        <p class="card-text">{{ p.body }}</p>

        <!--  button for editing post -->
        <div class="row">

          <div class="col-1">

        <button
          (click)="editPost(p)"
          class="btn btn-info btn-sm"> <i class="fa fa-pencil"></i>
        </button>

        <!--  button for removing post -->
        <hr>

        <button
          (click)="removePost(p)"
          class="btn btn-danger btn-sm"> <i class="fa fa-remove"></i>
        </button>

          </div>

        </div>

      </div>

    </div>

  </div>



