
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<!--   ** routerLink"/" ** will take us back home  -->
    <a class="navbar-brand" routerLink="/">Angular App</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="" class="nav-link">Home</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/comments" class="nav-link">Comments</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/posts" class="nav-link">Posts</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/movies" class="nav-link">Movies</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/travel" class="nav-link">Travel</a>
        </li>

      </ul>
    </div>
  </nav>
