

<h1>Event Component</h1>

<!-- a button that connects with the toggleForm() method -->
<button (click)="toggleForm()" class="btn btn-success">Add Character</button>

<!-- mouse event buttons here -->

<button (click)="triggerEvent($event)">Click Event</button>
<button (mouseover)="triggerEvent($event)">MouseOver Event</button>
<button (mouseout)="triggerEvent($event)">MouseOut Event</button>
<button (mousedown)="triggerEvent($event)">MouseDown Event</button>
<button (mouseup)="triggerEvent($event)">MouseUp Event</button>
<button (dblclick)="triggerEvent($event)">Dbl Click Event</button>

<!-- SYNTAX for event binding: (typeOfEvent)="expression" -->

<!-- create a form -->
<div class="card card-body" *ngIf="showForm">
  <form>
    <div class="form-group">

<!--      keyboard events -->

      <input (keydown)="triggerEvent($event)" type="text" class="form-control">
      <input (keyup)="triggerEvent($event)" type="text" class="form-control">
      <input (keypress)="triggerEvent($event)" type="text" class="form-control">
<!--      some keys are restricted in keypress  -->
      <input (focus)="triggerEvent($event)" type="text" class="form-control">
      <input (blur)="triggerEvent($event)" type="text" class="form-control">

      <label>First Name</label>
      <input type="text" class="form-control">

      <label>Last Name</label>
      <input type="text" class="form-control">

    </div>
  </form>
</div>

































































































