<h1 class="text-center">Forms Component</h1>

<div class="container">
  <button [disabled]="!enableAddCharacter" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>
  <!-- ngClass = allows us to bind one or more css classes to any element -->
<!-- Form to add a new character  -->
  <div class="card card-body">

    <form #characterForm="ngForm" (ngSubmit)="onSubmit(characterForm)">
<!--      The variable "characterForm" in our template will point to our INSTANCE of the ngForm directive
            This is one of the things the ngForm directive does is create a top level Form group and lets
            us call functions as if it was an instance of a FormGroup
            -->

            <div class="form-group">
              <label>Persona</label>
              <input
                type="text"
                class="form-control"
                name="persona"
                [(ngModel)]="character.persona"
                [ngClass]="{'is-invalid': characterPersona.errors && characterPersona.touched}"
                #characterPersona="ngModel"
                required
                minlength="3"
              >
<!--              created a special input #characterPersona = ngModel (shortcut for
                    characterForm.persona
                    ngClass is-invalid (name of our class)
                    . errors = if there's any errors in the input
                    .touched = if the user clicked on the input, it activates it
                    -->

              <div [hidden]="!characterPersona.errors?.required" class="invalid-feedback">
                Persona Name Required
              </div>

              <div [hidden]="!characterPersona.errors?.minlength" class="invalid-feedback">
                Must be at least 3 characters
              </div>
            </div>

            <div class="form-group">
              <label>First Name</label>
              <input type="text"
                     class="form-control"
                     name="firstName"
                     [(ngModel)]="character.firstName"
                     [ngClass]="{'is-invalid': characterFirstName.errors && characterFirstName.touched}"
                     #characterFirstName="ngModel"
                     required
                     minlength="2"
              >
              <div [hidden]="!characterFirstName.errors?.required" class="invalid-feedback">
                First Name Required
              </div>

              <div [hidden]="!characterFirstName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>


            <div class="form-group">
              <label>Last Name</label>
              <input type="text"
                     class="form-control"
                     name="lastName"
                     [(ngModel)]="character.lastName"
                     [ngClass]="{'is-invalid': characterLastName.errors && characterLastName.touched}"
                     #characterLastName="ngModel"
                     required
                     minlength="2"
              >
              <div [hidden]="!characterLastName.errors?.required" class="invalid-feedback">
                Last Name Required
              </div>

              <div [hidden]="!characterLastName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>

            <div class="form-group">
              <label>Age</label>
              <input type="number" class="form-control" name="age" [(ngModel)]="character.age">
            </div>

            <div class="form-group">

              <label>Address Street</label>
              <input type="text" class="form-control" name="address.street" [(ngModel)]="character.address.street">

              <label>City</label>
              <input type="text" class="form-control" name="address.city" [(ngModel)]="character.address.city">

              <label>State</label>
              <input type="text" class="form-control" name="address.state" [(ngModel)]="character.address.state">

            </div>

            <button
              [disabled]="!characterForm.form.valid"
              class="btn btn-dark">Add Character
            </button>
<!--      updated button:
          saying if NOT characterForm.form.valid?
          disable the button

          checking to see if any rules / validations that were applied to the form
          are not met, the button will remain disabled.
          -->




    </form>
  </div>
<!--  end of form -->
  <ul class="list-unstyled">
    <li class="card card-body mb-3" *ngFor="let character of characters">


      <div class="row">
        <div class="col-sm-4">
          <!--           BINDING OUR IMAGE        -->
          <img [src]="character.img" alt="" class="img-fluid">
        </div>

        <div class="col-sm-8">
          <h1 [ngStyle]="currentStyle">
            {{ character.persona }}
            <!--            Event binding example    -->
            <button (click)="toggleInfo(character)" class="btn btn-outline-dark btn-sm ml-3">
              <!--              Terniary operator: condition ? run -statement1 : run-statement2  -->
              <i [ngClass]="character.hide ? 'fa fa-minus': 'fa fa-plus-circle'"></i>
            </button>
          </h1>
          <h3 [ngStyle]="currentStyle"> {{ character.firstName }} {{ character.lastName }}</h3>

          <ul *ngIf="character.hide" class="list-group">

            <li class="list-group-item">Age: {{ character.age }}</li>
            <li class="list-group-item">Address: {{ character.address.street }} {{character.address.city }}, {{ character.address.state }}</li>

            <li *ngIf="character.balance" class="list-group-item">Balance: {{ character.balance | currency: "GBP" }}</li>

            <li class="list-group-item">Member Since: {{ character.memberSince | date }}</li>

          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

