<h1 class="text-center">Binding Component</h1>

<div class="container">
  <button [disabled]="!enableAddCharacter" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>
<!-- ngClass = allows us to bind one or more css classes to any element -->

  <ul class="list-unstyled">
    <li class="card card-body mb-3" *ngFor="let character of characters">


      <div class="row">
        <div class="col-sm-4">
<!--           BINDING OUR IMAGE        -->
          <img [src]="character.img" alt="" class="img-fluid">
        </div>

        <div class="col-sm-8">
          <h1 [ngStyle]="currentStyle">
            {{ character.persona }}
<!--            Event binding example    -->
            <button (click)="toggleInfo(character)" class="btn btn-outline-dark btn-sm ml-3">
<!--              Terniary operator: condition ? run -statement1 : run-statement2  -->
              <i [ngClass]="character.hide ? 'fa fa-minus': 'fa fa-plus-circle'"></i>
            </button>
          </h1>
          <h3 [ngStyle]="currentStyle"> {{ character.firstName }} {{ character.lastName }}</h3>

          <ul *ngIf="character.hide" class="list-group">

            <li class="list-group-item">Age: {{ character.age }}</li>
            <li class="list-group-item">Address: {{ character.address.street }} {{character.address.city }}, {{ character.address.state }}</li>

            <li *ngIf="character.balance" class="list-group-item">Balance: {{ character.balance | currency: "GBP" }}</li>

            <li class="list-group-item">Member Since: {{ character.memberSince | date }}</li>
<!--            <li class="list-group-item">Member Since: {{ character.memberSince | date: "yyyy" }}</li>-->
<!--            <li class="list-group-item">Member Since: {{ character.memberSince | date: "MM/dd/yyyy" }}</li>-->
<!--            <li class="list-group-item">Member Since: {{ character.memberSince | date: "shortDate" }}</li>-->

<!--            *** ngNonBindable -- makes an element disabled to binding data ***       -->
            <li ngNonBindable class="list-group-item"> {{ character.persona }} </li>

            <li class="list-group-item" ngNonBindable>
              <pre> {{ 5 | number: "1.2" }}</pre>
            </li>

          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>



















