
  <h3>Add a Post</h3>



  <div class="card card-body mb-3">
    <form>
      <div class="form-group">

        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="currentPost.title" name="title" #title>

        <label>Body</label>
        <input type="text" class="form-control" [(ngModel)]="currentPost.body" name="body" #body>


<!--   ****** need this to tell the program that it's not a new post ***********  -->
        <input type="hidden" [(ngModel)]="currentPost.id" name="id">

      </div>

<!--      Submit new post button  -->
      <button
        *ngIf="!isEditing"
        (click)="addPost(title.value, body.value)"
        class="btn btn-success btn-block">Submit Post</button>


<!--      Update current post button  -->
      <button
        *ngIf="isEditing"
        (click)="updatePost()"
        class="btn btn-warning btn-block">Update Post</button>

    </form>
  </div>












































































