<h1>Math!!</h1>


<h3>Addition: 8 + 12 = {{ this.sum() }}</h3>
<h3>Subtraction: 8 - 12 = {{ this.difference() }}</h3>
<h3>product: 8 * 12 = {{ this.product() }}</h3>
<h3>quotient: 8 / 12 = {{ this.quotient() }}</h3>








